%% == Erlang Compiler ==

{erl_opts, [debug_info, warnings_as_errors]}.

%% == Cover ==

{cover_enabled, true}.

%% == Dependencies ==

{deps, []}.

%% == Profiles ==

{profiles, [
  {debug, [
    {erl_opts, [debug_info, warnings_as_errors]},
    {deps, [
      {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
      {eper, {git, "https://github.com/massemanet/eper.git", {tag, "0.97.1"}}}
    ]}
  ]}
]}.
