%% Erlang compiler options
{erl_opts, [debug_info]}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Options to pass to ct:run_test/1
{ct_opts, [{erl_args, "-config test/config/test.config -ebus ebus_dist all"}]}.

%%{ct_extra_params, "-cover test/cover.spec -erl_args -ebus ebus_dist all -config ./test/config/test.config"}.

%% Dependencies
{deps,
 [
  {gproc, ".*",
   {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}},
  {poolboy, ".*",
   {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
  {riak_core, ".*",
   {git, "https://github.com/basho/riak_core", {tag, "2.1.1"}}}
 ]
}.
