%% == Erlang Compiler ==

{erl_opts, [debug_info, warnings_as_errors]}.

%% == Cover ==

{cover_enabled, true}.

%% == Dependencies ==

{deps, [
  {elixir, {git, "https://github.com/elixir-lang/elixir.git", {tag, "v1.2.1"}}}
]}.

%% == Hooks ==

{post_hooks, [
  {compile, "make compile_phoenix_pubsub"}
]}.
